@model TopLearn.DataLayer.Entities.User.User

<div class="container" style="direction:rtl;padding:20px" >
<p>@Model.Username عزیز به تاپ لرن خوش آمدید</p>
    <p>
        برای فعال سازی حساب کاربری خود از لینک زیر استفاده کنید
    </p>
    <p>
        <a href="http://localhost:55903/account/activeaccount/@Model.ActiveCode">لینک فعالسازی</a>
    </p>
</div>

