@model TopLearn.DataLayer.Entities.User.User

<div class="container" style="direction:rtl;padding:20px">
    <p>@Model.Username عزیز </p>
    <p>
       جهت بازیابی حساب روی لینک زیر کلیک کنید
    </p>
    <p>
        <a href="http://localhost:55903/account/resetpassword/@Model.ActiveCode">لینک فعالسازی</a>
    </p>
</div>

